{% extends "base.html" %}
{% block content %}
<ul>
{% for post in posts %}
    <div class="blog_post">
        <div class="blog-title"><a href="/blog/{{ post.key().id() }}">{{ post.title }}</a></div>
        <pre class="blog-body">{{ post.text }}</pre>
    </div>
{% endfor %}
</ul>

{% if nextPage.isdigit() %}
    <div>
        <a href="/blog?Page={{ nextPage }}">Next</a>
    </div>
{% endif %}
<!-- if page < total posts / limit, then post the link to next
if int(page) > 1 post the link to previous  -->
{% endblock %}
